<%- include("../partials/head") %>
<%- include("../partials/header") %>

<main class="section">
  <div class="container centered-message">
    <h1>Server Error</h1>
    <p><%= message %></p>
    <a class="btn btn-primary" href="/">Return Home</a>
  </div>
</main>

<%- include("../partials/footer") %>
<%- include("../partials/end") %>
